body {
	margin: 0px auto;
	font-family: "Montserrat", sans-serif;
}

header {
	background: url(/assets/background.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position-y: -330px;
	height: 500px;
}

.head-text {
	position: absolute;
	top: 120px;
	left: 200px;
	width: 400px;
}

/* Overall styling */

h1 {
	font-size: 70px;
	text-transform: lowercase;
	font-display: bold;
}

h2 {
	color: white;
	border-left: 10px solid #fa382f;
	border-right: 10px solid #fa382f;
	background-color: #fa382f;
	font-size: 40px;
}

h3 {
	font-size: 24px;
	color: white;
	background-color: red;
	border: solid red;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
}

.highlight {
	text-align: left;
	color: red;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.link {
	padding: 25px;
	border-radius: 50%;
}

.circle {
	width: 70px;
	height: 70px;
	margin: 30px;
	border: solid white 5px;
	opacity: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-links {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 70px;
	right: 250px;
}

.head-portrait {
	position: absolute;
	margin: 0;
	top: 250px;
	right: 300px;
}

.portrait {
	width: 300px;
	height: auto;
	border: solid white 5px;
	border-radius: 50%;
}

.wrapper-description {
	height: 400px;
	background: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tech-skills {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tech-skills p {
	font-size: 30px;
	width: 1024px;
}

.description {
	width: 1024px;
	font-size: 30px;
}

/* Projects section */

.wrapper-projects {
	background: #f4f4f4;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.project-title {
}

.weather {
	background-image: url(/assets/weather-app.jpg);
}

.food-review {
	background-image: url(/assets/food-review.jpg);
}

.pizzabot {
	background-image: url(/assets/pizzabot.jpg);
}

.cluedo {
	background-image: url(/assets/cluedo.jpg);
}

.image {
	margin: 15px;
	height: 300px;
	width: 500px;
	display: flex;
	background-position: center;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}

.image:hover {
	opacity: 1;
}

.main-projects p {
	text-align: left;
	font-size: 25px;
}

.column1 {
	display: flex;
	width: 500px;
}

.column2 {
	display: flex;
	width: 500px;
}
