body {
	margin: 0px auto;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0;
	line-height: 1.5;
}

header {
	background: url(/assets/background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: -340px;
	height: 500px;
	width: auto;
}

.head-text {
	position: absolute;
	top: 120px;
	left: 200px;
	width: 400px;
}

/* Overall styling */

h1 {
	font-size: 70px;
	text-transform: lowercase;
	font-display: bold;
}

h2 {
	color: white;
	border-left: 10px solid #fa382f;
	border-right: 10px solid #fa382f;
	background-color: #fa382f;
	font-size: 45px;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	color: white;
	background-color: red;
	border: solid red;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
}

h5 {
	font-size: 45px;
	color: red;
	text-transform: uppercase;
}

.bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.highlight {
	text-align: left;
	color: red;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

.small-link {
	color: red;
	text-decoration: underline;
	font-weight: 700;
}

.text-link {
	color: red;
	font-weight: 700;
	text-decoration: underline;
}

.link {
	padding: 25px;
	border-radius: 50%;
}

/* Header */

.circle {
	width: 70px;
	height: 70px;
	margin: 30px;
	border: solid white 5px;
	opacity: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-links {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 70px;
	right: 250px;
}

.head-portrait {
	position: absolute;
	margin: 0;
	top: 250px;
	right: 300px;
}

.portrait {
	width: 300px;
	height: auto;
	border: solid white 5px;
	border-radius: 50%;
}

.wrapper-description {
	height: 400px;
	background: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	width: 1024px;
	font-size: 30px;
}

/* Tech skills */

.tech-skills {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tech-skills p {
	font-size: 30px;
	width: 1024px;
	font-family: "Roboto", sans-serif;
}

/* Projects section */

.wrapper-projects {
	background: #f4f4f4;
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.weather {
	background-image: url(/assets/weather-app.jpg);
}

.food-review {
	background-image: url(/assets/food-review.jpg);
}

.pizzabot {
	background-image: url(/assets/pizzabot.jpg);
}

.cluedo {
	background-image: url(/assets/cluedo.jpg);
}

.image {
	margin: 20px;
	height: 300px;
	width: 500px;
	display: flex;
	background-position: center;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}

.image:hover {
	opacity: 1;
}

.main-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
}

.main-projects p {
	font-size: 25px;
	width: 500px;
	font-family: "Roboto", sans-serif;
}

.other-projects {
	width: 1024px;
}

.other-projects p {
	font-size: 25px;
	text-decoration: underline;
	font-family: "Roboto", sans-serif;
}

.other-projects h5 {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.column1 {
	display: flex;
	justify-content: center;
	width: 500px;
}

.column2 {
	display: flex;
	width: 500px;
	justify-content: center;
}

.tag {
	border: 5px solid #fddfe7;
	background-color: #fddfe7;
	width: fit-content;
	margin: 10px;
}

.tags {
	display: flex;
	width: 500px;
}

/* Thoughts about code section */

.thoughts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 70px;
	padding-bottom: 70px;
}

.date {
	color: red;
}

.row {
	display: flex;
	flex-direction: row;
}

.thoughts p {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
}

.thoughts-image {
	background-image: url(/assets/technigo.jpg);
	background-size: cover;
	margin: auto;
}

.movies-image {
	background-image: url(/assets/movies.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}

.thoughts-link {
	margin: 20px;
	width: 500px;
	height: auto;
}

/* Skills section */

.skills {
	background: #f4f4f4;
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.skill-box-wrap {
  display: flex;
  justify-content: center;
  max-width: 700px;
}

ul {
	display: flex;
	flex-direction: column;
  list-style-type: none;
  margin: 0;
	padding: 0 0 15px 0;
	width: 280px;
}

li {
	font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: red;
  margin: 0;
  font-size: 25px;
}

/* For more */

.for-more {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 70px;
	padding-bottom: 70px;
}

.more-links {
	display: flex;
	flex-direction: row;
}

.big-link {
	padding: 60px;
	border-radius: 50%;
}

.red-link {
	width: 160px;
	height: 160px;
	margin: 60px;
	border: solid red 5px;
	opacity: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red-link:hover {
	opacity: 0.7;
}

/* Footer */

footer {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
	padding-top: 130px;
	padding-bottom: 190px;
  width: 100%;
  color: #ffffff;
}

.contact {
	font-weight: 700;
	font-size: 38px;
}

footer p {
font-size: 30px;
}

.email {
  color: #ffffff;
  margin: 0px;
}

.email:hover {
  opacity: 0.7;
}